body {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  width: 100%;
  background-color: #C5C5C5
}

.block {
  padding: 1.5em 0;
}

label {
  display: block;
}

input {
  border-radius: 0.3em;
  width: 10em;
  padding: 0.5em;
  border: 1px solid black;
  display: block;
  text-align: center;
  margin: 10px auto;
  background-color: #C5C5C5;
}

#words-groups {
  // position: relative;
  // background-color: white;
  padding: 2em 0;
}

#words-list {
  // background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  // position: relative;
  // margin-top: -250px;
  // transition: margin-top 5s;
  // z-index: 1;
}

.hide, #words-list.hide {
  display: none;
}

#words-list.game {
  flex-direction: column;
}

#words-list.game .word-keys {
  align-items: center
}

#game-progress {
  align-self: flex-end;
  height: auto;
  padding: 20px;
}

#game-progress p {
  margin: 0;
}

#game-progress p .index {
  font-weight: bold;
  font-size: 1.2em;
}

#game-progress.block {
  margin: 0 20px;
}

.word-card {
  border-radius: 0.2em;
  border: 1px solid black;
  height: 200px;
  // background-color: #F5F5F5;
  color: #E5E5E5;
  display: flex;
  flex-basis: 80%;
  flex-grow: 1;
  // margin: 20px 0px;
}

@media screen and (min-width: 480px) {
  .word-card {
    flex-basis: 70%;
  }
}

@media screen and (min-width: 640px) {
  .word-card {
    flex-basis: 60%;
  }
}


@media screen and (min-width: 720px) {
  .word-card, #game-progress {
    margin: 20px;
    flex-basis: auto;
  }
}

.word-card.name {
  background-color: #6C1115;
  //background-color: #FC5185
}

.word-card.verb {
  background-color: #364F6B;
}

.word-card.other {
  background-color: #3F816B;
  //background-color: #3FC1C9
}

.word-param {
  line-height: 1.5em;
}

.word-param .content {
  font-weight: bold;
  font-size: 1.2em;
}

.word-key {
  font-weight: 600;
}

.word-actions, .word-keys {
  padding: 1em;
}

.word-keys {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  text-align: left;
}

.word-actions {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.word-actions button {
  width: auto;
  padding: 0.5em;
  background-color: black;
  background-color: #60210e;
  text-align: center;
}

select {
    display: inline;
    width: 10em;
    height: 2em;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #F1F1F1;
    outline: none;
    -webkit-transition: color 2s linear 1s;
    transition: color 2s linear 1s;
}

select:focus {
  border: 2px solid #378573;
  color: #378573;
}

.word-param-input {
  margin-bottom: 1em;
}

.word-param-input:last-of-type {
  margin-bottom: 2em;
}

button {
  display: block;
  width: 10em;
  margin: 1em auto;
  padding: 1em 2em;
  color: #E5E5E5;
  background-color: #378573;
  border-radius: 5px;
  border: none;
}

button:focus {
  border: none;
  cursor: none;
}

button.disabled {
  background-color: gray;
}

#add-word-btn {
  background-color: #364F6B;
}
